@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

#main {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}

#title {
  font-size: 42px;
  font-family: 'Lobster', cursive;
  color: #fff;
  padding: 28px
}

#quote-box {
  margin: 0 auto;
  width: 80%;
  background-color: #fff;
  border-radius: 5px;
  height: 68vh;
}

#text {
  font-style: italic;
  padding: 2% 20%;
  text-align: center;
  font-size: 30px;
  height: 30vh;
}

#author {
  text-align: right;
  font-size: 20px;
  padding: 2% 10%;
}

#new-quote, #tweet-quote {
  border-radius: 5px;
  width: 120px;
  background-color: var(--main-bg-color);
  color: #fff;
  padding: 10px;
  border: none;
  font-size: 14px;
}

#tweet-quote {
  border-radius: 5px;
  margin-right: 20px;
}

#new-quote:focus, #tweet-quote:focus {
  outline: none;
}

#new-quote:hover, #tweet-quote:hover {
  background-color: #fff;
  border: 1px solid var(--main-text-color);
  color: var(--main-text-color);
  cursor: pointer;
}